Source: spambayes
Section: mail
Priority: optional
Maintainer: Alexandre Fayolle <afayolle@debian.org>
Build-Depends: debhelper (>= 5.0.37.1)
Build-Depends-Indep: python (>=2.3.5-7), python-dev (>=2.3.5-7), python-central
Standards-Version: 3.7.2
XS-Python-Version: current

Package: spambayes
Architecture: all
XB-Python-Version: ${python:Versions}
Depends: ${python:Depends}
Conflicts: python2.3-spambayes
Replaces: python2.3-spambayes
Description: Python-based spam filter using statistical analysis
 SpamBayes uses a different set of algorithm to most statistical spam
 filters, which enables to dramatically lower the number of legitimate
 mail classified as spam, through the introduction of an 'unsure'
 category.
 .
 SpamBayes can be used as a POP3 or an IMAP proxy, as well as a simple 
 mail filter for use with procmail. 
 .
 Homepage: http://spambayes.sourceforge.net 



